body {
	 padding: 0px 0 50px 0;
	 font-size: 17px;
	 min-height: 100%;
	 font-family: serif;
}

div.content1 {
	 margin: 0 auto;
	 text-align: left;
	 width: 600px;
}

blockquote {
	 font-size: 26px;
	 line-height: 37px;
	 margin-bottom: 25px;
}

h1 {
	 font-size: 68px;
	 line-height: 75px;
	 margin: 0px 0px 0.37em 0px;
	 font-family: "Adelle W01 ExtraBold";
}

h2 {
	 font-size: 42px;
	 line-height: 50px;
	 margin: 0px 0px 0.5em 0px;
	 font-family: "adelle-sans";
	 font-weight: 400;
	 font-style: normal;
}

h3 {
	 font-size: 28px;
	 line-height: 50px;
	 margin: 0px 0px 0.5em 0px;
}

h4 {
	 margin-bottom: 25px;
	 font-weight: 600;
	 font-style: normal;
}

h5 {
	 margin-bottom: 25px;
	 font-style: normal;
	 font-weight: normal;
}

h6 {
	 font-weight: 400;
	 margin-bottom: 25px;
}

p {
	 margin: 0px 0px 1.563em 0px;
	 font-family: "Adelle W01 Regular";
	 font-size: 18px;
	 line-height: 26.89px;
}

p.intro {
	 font-size: 24px;
	 line-height: 34px;
	 margin: 0px 0px 1.5em 0px;
	 font-family: "Adelle W01 Regular";
}

p.label {
	 margin: 3em 0% 3em 0%;
	 border-style: solid;
	 border-color: rgba(51, 51, 51, 0.87);
	 text-align: center;
	 padding: 3% 3% 3% 3%;
	 font-size: 19px;
	 color: rgba(51, 51, 51, 1);
	 border-width: 3px 0px;
	 font-family: "Adelle W01 Light";
}

blockquote.pull-quote {
	 margin: 0em 1em 1em 0em;
	 border-left: 3px solid #ccc;
	 padding: 0em 0em 0em 0.7em;
}

p.quote {
	 font-size: 24px;
	 line-height: 34px;
	 color: #666666;
	 margin: 0px;
	 font-family: "Adelle SansW01-Regular";
}

p.author-byline {
	 text-align: center;
	 font-size: 28px;
	 line-height: 40px;
	 margin: 0px 0px 1.5em 0px;
}

em.emphasis {
	 font-style: italic;
}

small.small {
	 font-size: 80%;
}

strong.strong {
	 font-weight: 700;
}

p.intro-paragraph {
	 text-align: center;
	 font-size: 32px;
	 line-height: 39px;
	 margin-bottom: 1.2em;
	 margin-top: 1.2em;
	 padding: 1em 1em 1em 1em;
	 border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
	 border-color: rgba(204, 204, 204, 1);
	 font-family: "adelle-sans";
	 font-weight: 100;
	 font-style: italic;
}

img.wide {
	 max-width: 100%;
	 width: 453px;
}

img.standard {
	 max-width: 100%;
	 width: 289px;
}

img.square {
	 max-width: 100%;
	 width: 192px;
}

div.testimonial {
	 margin: 0 auto 1em auto;
	 width: auto;
	 text-align: center;
}

img.testimonial-avatar {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 max-width: 100%;
	 width: 120px;
	 border-radius: 50%;
	 display: block;
}

h4.testimonial-name {
	 font-size: 1.1em;
	 text-align: center;
	 margin: 0 0 4px 0;
}

p.testimonial-title {
	 font-style: italic;
	 margin: 0 0 1em 0em;
	 text-align: center;
	 font-size: 1em;
}

div.testimonial-content {
	 margin: 0 auto 1em auto;
	 text-align: center;
	 padding: 0.5em;
	 background-color: #ffffff;
	 border-width: 1px;
	 border-style: solid;
	 border-color: rgba(204, 204, 204, 1);
}

p.testimonial-text {
	 text-align: center;
	 color: #666;
}

p.testimonial-text:last-child {
	 margin-bottom: 0;
}

p.image-labels {
	 margin: 1.5em 0px 1.563em 0px;
	 text-align: left;
}

ul {
	 margin: 10px 20px;
	 padding: 10px 20px;
}

ol {
	 margin: 10px 20px;
	 padding: 10px 20px;
}

nav.menu-nav {
	 margin: 0 auto;
}

ul.menu {
	 margin: 0 0 1em 0;
	 font-size: 16px;
	 list-style: none;
}

ul.menu-nested {
	 margin: 0 0 0em 2em;
	 font-size: 16px;
	 color: #ccc;
	 list-style: none;
}

nav.menu-nav-hz {
	 margin: 0 auto;
}

ul.menu-hz {
	 margin: 0 0 1em 0;
	 list-style: none;
	 text-align: center;
}

li.menu-hz-li {
	 margin: 0 0.5em 0 0.5em;
	 font-size: 16px;
	 display: inline-block;
}

span.dropcap {
	 float: left;
	 color: #333333;
	 font-size: 89px;
	 line-height: 60px;
	 padding: 8px 12px 0px 3px;
}

div.image-media:before {
	 content: "";
	 display: table;
}

div.image-media:after {
	 content: "";
	 display: table;
	 clear: both;
}

div.image-media {
	 width: auto;
	 text-align: left;
	 margin: 0 auto;
}

img.image-media-left {
	 max-width: 100%;
	 float: left;
	 width: 150px;
	 margin: 0 1em 1em 0;
}

img.testimonial-center {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 max-width: 100%;
	 width: 120px;
	 border-radius: 50%;
	 display: block;
	 margin: 0 auto 10px auto;
}

div.three-col-gallery:before {
	 content: "";
	 display: table;
}

div.three-col-gallery:after {
	 content: "";
	 display: table;
	 clear: both;
}

div.three-col-gallery {
	 width: auto;
	 text-align: center;
	 margin: 0 auto;
}

img.three-col-img {
	 width: 30%;
	 float: left;
	 margin: 1.666%;
}

img {
	 max-width: 100%;
}

p.caption {
	 margin: 0.5em 0px 3em 0px;
	 font-size: 15px;
	 line-height: 23.89px;
	 text-align: center;
	 color: rgba(158, 158, 158, 1);
}

strong {
	 text-transform: uppercase;
	 font-size: 25px;
	 font-family: "adelle-sans";
	 font-weight: 700;
	 font-style: normal;
}

@media only screen and (max-width: 1280px) {
	 h1 {
	 width: 1717.75px;
}

p.intro-paragraph {
	 line-height: 40px;
}

}